.featured-box img{
    width: 400px;
    height: 400px;
}

.featured{
    width: 1300px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
}

.featured-box{
    min-width: 250px;
    margin-bottom: 30px;
}