.testimonials{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding: 40px 0;
}

.testimonials-box{
    flex-basis: 30%;
    padding: 10px;
    text-align: center;
    background: #eeeeee;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    transition: 0.3s ease-in-out;
}

.testimonials-box img{
    width: 50%;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonials-box:hover{
    transform: translateY(-10px);
}

.testimonials-box h3{
    font-weight: 100;
}

.testimonials-box p{
    color: #888;
}

.testimonials-box i{
    color: var(--primary);
    padding: 10px 0;
}